<a href="https://colab.research.google.com/github/Dyprof/OLANIYI-Idris-Oladayo/blob/main/Function_Challenge_1_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### QUESTION 1

Write a python function named `is_palindrome` that takes an argument (a string) checks if the input string is a palindrome. The function should return `True` or `False`

`palindrome`: a word is `palindrom` if it reads the same backward. E.g `madam`

HINT: use the python `input` function to get an input.

In [57]:
# SOLUTION
def is_palindrome(word):
    word = word.lower()
    return word == word[::-1]
    print(word)
word = 'racecar'
if is_palindrome(word):
    print(f"{word} is a palindrome.")
else:
    print(f"{word} is not a palindrome.")

racecar is a palindrome.

### QUESTION 2

If a valid email is known to have a mix of characters and numbers and then ends with `@edibrige.ng`, e.g `nnebaba123@edubridge.ng`.
<br/>
Write a functon named `is_valid_email` that accepts an email as an input argument and then check if the email is valid based on the condition above.

In [56]:
# SOLUTION
def is_valid_email(email):
    if email.endswith("@edubridge.ng"):
        local_part = email.split("@")[0]
        has_letter = any(char.isalpha() for char in local_part)
        has_digit = any(char.isdigit() for char in local_part)
        return has_letter and has_digit
    return False
email = 'ola.dayo.0049@edubridge.ng'
if is_valid_email(email):
    print("Valid email")
else:
    print("Invalid email")

Valid email

### QUESTION 3

Given a list of numbers that are perfect squares between 1 and 40 `[1, 2, 4, 16, 25, 36]`.
<br>
Write a python function that accepts an input argument (any number between 1 and 40) and then checks if the number is a perfect square.

In [54]:
# SOLUTION
def is_perfect_square(n):
    perfect_squares = [1, 2, 4, 16, 25, 36, 40]
    if n in perfect_squares:
        return True
    else:
       return False
number = 20
if 1 <= number <= 40:
    if is_perfect_square(number):
        print(f"{number} is a perfect square.")
    else:
        print(f"{number} is not a perfect square.")
else:
    print("Number out of range.")

20 is not a perfect square.

### QUESTION 4

Given a string, check if an input string is a substring of the given string?
<br/><br/>
E.g `word = authenticate`
<br>Now if a user input the word `the`, We can say that the word `the` is a substring of the word `authenticate` because it's contained in it.

In [51]:
# SOLUTION
word = "authenticate"
user_input = "the"
if user_input in word:
    print(f"{user_input} is a substring of {word}.")
else:
    print(f"{user_input} is not a substring of {word}.")

the is a substring of authenticate.

### QUESTION 5

Write a Python program that takes in a number input. If the number is a multiples of three print `"Fizz"` instead of the number and for multiples of five print `"Buzz"`. For numbers that are multiples of three and five, print `"FizzBuzz"`.

**HINT**: *requires type casting for your input.*

In [50]:
# SOLUTION
number = (15)
if number % 3 == 0 and number % 5 == 0:
    print("FizzBuzz")
elif number % 3 == 0:
    print("Fizz")
elif number % 5 == 0:
    print("Buzz")

FizzBuzz

### QUESTION 6

Given a year input, Is the year a leap year?

Reference: in the Gregorian calendar, each leap year has 366 days instead of 365, by extending February to 29 days rather than the common 28. This extra leap day occurs in each year that is an integer multiple of `4` (except for years evenly divisible by `100`, but not by `400`). A leap year of 366 days has 52 weeks and two days, hence the year following a leap year will start later by two days of the week.

In [47]:
# SOLUTION
year = (2020)
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2020 is a leap year.

### QUESTION 7

Write a program that prints:
<br/>
`"Fail"` if an input score is less than 45  or<br/> `"Pass"` if the score is between (45 and 50), or <br/>`"Good"` if it is between (51 and 60)
<br/>`"Very Good"` if it is between (61 and 70) else <br/>`"Excellent"` if the number greater than 70.

In [46]:
# SOLUTION
score = 67
if score < 45:
    print("Fail")
elif 45 <= score <= 50:
    print("Pass")
elif 51 <= score <= 60:
    print("Good")
elif 61 <= score <= 70:
    print("Very Good")
else:
    print("Excellent")

Very Good

### QUESTION 8

Given two different list below, Convert them to a dictionary:<br/>
`keys = ['Ten', 'Twenty', 'Thirty']`
`values = [10, 20, 30]`
<br/> <br/>Expected output is: `{'Ten': 10, 'Twenty': 20, 'Thirty': 30}`
<br/><br/>**HINT**: use the python `zip` function and then cast the result of the function to accomplish your desired output. You can check `help(zip)`

In [43]:
# SOLUTION
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dictionary = dict(zip(keys, values))
print(dictionary)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### QUESTION 9

Merge the two Python dictionaries below
<br/>`dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}`<br/>
`dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}`
<br/>Expected output is: `{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}`

<br/><br/>**HINT**: you can check `help(dict)` to identify dict method that will help you achieve solution to the problem.

In [42]:
# SOLUTION
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### QUESTION 10
Print out all the keys from the given dictionary `sample_dict = {'a': 100, 'b': 200, 'c': 300}` as a list.
<br>
Expected Output: `['a', 'b', 'c']`

In [41]:
# SOLUTION
sample_dict = {'a': 100, 'b': 200, 'c': 300}
keys_list = list(sample_dict.keys())
print(keys_list)

['a', 'b', 'c']

### QUESTION 11

Print out all the values from a givsen dictionary
`sample_dict = {'a': 100, 'b': 200, 'c': 300}` as a list.
<br>
Expected Output: `[100, 200, 300]`

In [40]:
# SOLUTION
sample_dict = {'a': 100, 'b': 200, 'c': 300}
values_list = list(sample_dict.values())
print(values_list)

[100, 200, 300]

### QUESTION 12

Given: `sample_dict = {'a': 100, 'b': 200, 'c': 300}`. Ask a user for an input. If the input is a value present in the `sample_dict` dictionary, print the number with some text.
E.g, if input is `200`,<br>
Expected output: `200 is a value present in the dicitonary.`

In [39]:
# SOLUTION
sample_dict = {'a': 100, 'b': 200, 'c': 300}
user_input = (200)
if user_input in sample_dict.values():
    print(f"{user_input} is a value present in the dictionary.")

200 is a value present in the dictionary.

### QUESTION 13

Get the key of a minimum value from the following dictionary
`sample_dict = {'Physics': 82, 'Math': 65 'history': 75}`

<br>Expected Output: `Math`

In [34]:
# SOLUTION
sample_dict = {'Physics': 82, 'Math': 65, 'history': 75}
min_value = min(sample_dict.values())
min_key = next(key for key, value in sample_dict.items() if value == min_value)
print(min_key)

Math

### QUESTION 14

Write a program to rename a key city to a location in the following dictionary.
<BR>
Given: `sample_dict = {"name": "Kelly", "age":25, "salary": 8000, "city": "New york"}`

<br>Expected Output: `{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}`

In [32]:
sample_dict = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

### QUESTION 15

Write a program to unpack the following tuple into four variables and display each variable.
<br>
Given: `tuple1 = (10, 20, 30, 40)`
<br/>Expected output:
>> print(a) # should print 10 <br/>
>> print(b) # should print 20 <br/>
>> print(c) # should print 30 <br/>
>> print(d) # should print 40 <br/>

In [31]:
# SOLUTION
tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

### QUESTION 16

Swap two tuples in Python
Given: <br>`tuple1 = (11, 22)`, <br>`tuple2 = (99, 88)`

Expected Output: <br>`tuple1: (99, 88)`
<br>`tuple2: (11, 22)`

In [30]:
# SOLUTION
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print("tuple1:", tuple1)
print("tuple2:", tuple2)

tuple1: (99, 88)
tuple2: (11, 22)

### QUESTION 17

Sort a tuple of tuples by 2nd item
<BR>
Given:tuple1 = `(('a', 23),('b', 37),('c', 11), ('d',29))`

<BR>Expected output: `(('c', 11), ('a', 23), ('d', 29), ('b', 37))`

In [29]:
# SOLUTION
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
sorted_tuple = tuple(sorted(tuple1, key=lambda x: x[1]))
print(sorted_tuple)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

### QUESTION 18

print a new set of identical items from two sets
Given:<BR>
`set1 = {10, 20, 30, 40, 50}`<BR>
`set2 = {30, 40, 50, 60, 70}`
<BR>Expected output: `{40, 50, 30}`

**HINT**: *set method will do the workings for you.*

In [26]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
identical_items = set1.intersection(set2)
print(identical_items)

{40, 50, 30}

**COMMENT:** Great

### QUESTION 19

Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

<BR>Given:
<BR>
`set1 = {10, 20, 30}`<BR>
`set2 = {20, 40, 50}`<BR>
Expected output: `set1 {10, 30}`

**HINT**: *set method will do the workings for you.*

In [25]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

**COMMENT:** Great

### QUESTION 20

Check if two sets have any elements in common. If yes, display the common elements

Given:

`set1 = {10, 20, 30, 40, 50}`

`set2 = {60, 70, 80, 90, 10}`

Expected output: `{10}`

**HINT**: *set method and conditional statement will do the workings for you.*

In [24]:
# SOLUTION
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
common_elements = set1.intersection(set2)
if common_elements:
    print("Common elements:", common_elements)
else:
    print("No common elements found.")

Common elements: {10}